<!DOCTYPE html>
<html>

<head>
    <title>Spotify Recommender</title>
    <!-- Bootstrap CSS Styles-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom Styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="navbar-expand-lg navbar-dark bg-dark p-2 mb-5">
        <a class="navbar-brand mb-0 h1" id="title" href="/">Song Recommender</a>
    </nav>
    <div class="container">
        <form action="/" method="post">
            <div class="form-group d-inline-flex">
                <input type="text" name="song_title" placeholder="Song Title" class="form-control">
                <button type="submit" class="btn btn-success ml-2" id="submit-btn">Find Similar Songs</button>
            </div>
        </form>
        <p class="error">{{ message }}</p>
        <div class="recent">
            <hr>
            <h2>Recent Searches</h2>
            <ul>
                {% for search in recent_searches %}
                <li class="recent_search">
                    <div class="left">
                        <h5>{{search.title}}</h5>
                    </div>
                    <div class="right">
                        <a href="{{ search.uri }}"><button class="btn btn-success ml-2">Open in App</button></a>
                        <a href="http://open.spotify.com/track/{{ search.song_id }}" target="_blank"><button
                                class="btn btn-success ml-2">Open Online</button></a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>